In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('ad_spend.csv')
df.head()

   Ad Spend ($)   Season  Revenue ($)
0           463  Monsoon          440
1           158   Winter          297
2           328  Monsoon          214
3           322  Monsoon           48
4           726   Winter         1048

In [7]:
df.shape

(200, 3)

In [10]:
df.groupby('Season')[['Ad Spend ($)', 'Revenue ($)']].mean()

         Ad Spend ($)  Revenue ($)
Season
Monsoon    517.643836   423.150685
Summer     573.836066   689.360656
Winter     552.560606   826.530303